.teaminfo-container {
  padding: 10px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.teaminfo-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.teaminfo-list {
  margin-top: 20px;
}

.teaminfo-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teaminfo-card {
  background-color: #c9c9c9;
  color: black;
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
}

.teaminfo-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
}

.teaminfo-img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teaminfo-img-wrap img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(51, 53, 61, 0.2) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: transform 0.2s;
}

.teaminfo-img-wrap img:hover {
  transform: scale(1.05);
}

.teaminfo-name h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.teaminfo-empty {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: #ccc;
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.2) 25%,
    rgba(220, 220, 220, 0.4) 50%,
    rgba(220, 220, 220, 0.2) 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 8px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.teaminfo-skeleton-container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.teaminfo-skeleton-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teaminfo-skeleton-card {
  background-color: #c9c9c9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.skeleton-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
}

.skeleton-name {
  height: 16px;
  margin-top: 12px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.teamstats-skeleton-card {
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;
}

.skeleton-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.skeleton-title {
  width: 120px;
  height: 20px;
  margin-bottom: 15px;
}

.skeleton-line {
  height: 14px;
  margin: 8px 0;
  width: 100%;
}

.teamstats-card {
  color: #021124;
  background-color: #c9c9c9;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 6px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

.teamstats-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.teamstats-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.teamstats-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.teamstats-grid div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(1, 13, 42);
  padding: 10px 5px;
  align-items: center;
}

.teamstats-grid span {
  font-weight: 600;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.teamstats-grid .team {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  position: relative;
}

.team p {
  margin: 0;
}

.teamstats-grid img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.vs {
  position: absolute;
  top: 125%;
  left: 50%;
  background-color: #c9c9c9;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .teaminfo-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 90%;
    align-items: flex-start;
    gap: 40px;
  }

  .teaminfo-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
  }

  .teaminfo-card,
  .teaminfo-skeleton-card {
    width: 280px;
  }

  .teaminfo-name h3 {
    font-size: 18px;
  }

  .teaminfo-img-wrap img {
    width: 120px;
    height: 120px;
  }

  .teaminfo-list,
  .teaminfo-skeleton-list {
    width: 60%;
  }

  .teamstats-card,
  .teamstats-skeleton-card {
    width: 30%;
    min-width: 250px;
    margin-top: 50px;
    flex-grow: none;
  }
}
